.calva
.clj-kondo
.lsp
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
src/myfactura/.DS_Store
.DS_Store
*.jar
*.class
.src/target
*.class
target/invoice-0.1.0-SNAPSHOT.jar
*/*packaged.yml
*/*packaged.json
*/package-lock.json
*.clj-kondo/.cache/*
*/*/.datomic-ions/*
*.temp
.java-version
.nrepl-history
/logs/
src/.DS_Store
src/myfactura/.DS_Store
pom.xml
.vscode/settings.json
